body {
  background-color: rgb(255, 253, 240);
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-size: 52px;
  color: rgb(70, 37, 122);
}

/* #html-css-logo {
  width: auto;
  height: 140px;
} But it is the only image inside header so:*/
header img {
  width: auto;
  height: 140px;
}

.summary-container {
  background-color: rgb(70, 37, 122);
  color: rgb(237, 239, 231);
  width: 70%;
  margin: 20px auto 0 auto;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  text-align: left;
}

.bold-text {
  font-weight: bold;
}

.summary-list {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.summary-list li {
  border-left: 4px solid transparent;
  padding-left: 10px;
}

.summary-list .list-mark-vertical-line {
  border-color: rgb(239, 255, 157);
}

.highlighted-link {
  text-decoration: none;
  background-color: rgb(239, 255, 157);
  color: rgb(19, 19, 19);
  border-radius: 4px;
  padding: 2px 5px 2px 5px;
}

.highlighted-link:hover,
.highlighted-link:active {
  background-color: rgb(46, 45, 24);
  color: white;
}

.download-pdf-summary {
  margin: 16px auto 28px auto;
  padding: 10px;
  width: 180px;
  border-radius: 5px;
  background-color: rgb(255, 208, 0);
  display: inline-block;
}

footer {
  color: rgb(99, 99, 99);
  margin-bottom: 30px;
}
