body {
  background: linear-gradient(30deg, rgb(81, 78, 78), rgb(134, 130, 130));
  color: rgb(40, 40, 40);
}

header {
  position: static; /*default val - shared css modifies it*/
}

main ul {
  list-style: none;
  width: 1200px;
  margin: 20px auto 46px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

li:nth-last-of-type(3) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 1, 12);
  border-radius: 4px;
  overflow: hidden;
}

main li img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  color: rgb(0, 0, 18);
  font-weight: bold;
  text-shadow: 1px 1px 4px rgb(167, 167, 167);
  border-radius: 4px;
}

.actions a:hover {
  background-color: rgb(138, 156, 0);
}
